.top-section{
    border: 1px solid red;
    margin:auto;
    width: 16%;

   
}
img{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;

     
}
/* h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;

    text-align: center;
} */

.wrap{
    border: 3px solid rebeccapurple;
    background-color: saddlebrown;
    padding :20px;
    margin: 10px;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 1000px;
    
}