#para-1{
color: orange;
}
#para-2{
color: rgb(47, 19, 255);
}
#para-3{
    color: #0fba4c;
}
#para-4{
    /* background: rgb(131,58,180); */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.text-style{
    font-size: 22px;
    font-family: 'Pacifico', cursive;
    background-color: blueviolet;


}