.item{
border: 3px solid red;
width: 140px;
height: 140px;
display: inline-block;
}
#item3{
    /* position: absolute; */
    position: relative;
    /* top: 15px; */
}
.parent{
    border: 2px solid green;
    background-color: rgb(205, 94, 16);

}